/* 声明字体图标 */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tomleg') format('truetype'),
        url('../fonts/icomoon.woff?tomleg') format('woff'),
        url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_red {
    color: #c81623;
}

/* 快捷导航模块 */
.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.shortcut ul li {
    float: left;
}

/* 选择所有的偶数的小li */
.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px 0;
}

.arrow-icon::after {
    content: '\e91e';
    font-family: 'icomoon';
    margin-left: 6px;
    /* 伪元素默认为行内元素，设置字体图标与文字的顶线对齐 */
    vertical-align: top;
}

/* header头部 */
.header {
    position: relative;
    height: 105px;
}

.logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
}

.logo a {
    display: block;
    width: 171px;
    height: 61px;
    background: url(../images/logo.png) no-repeat;
    /* 隐藏文字，京东的做法 font-size: 0; */
    /* 淘宝的做法 */
    text-indent: -9999px;
    overflow: hidden;
}

.search {
    position: absolute;
    top: 25px;
    left: 346px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.search input {
    float: left;
    width: 454px;
    height: 32px;
    /* 也可以用文本缩进来做 */
    padding-left: 10px;
}

.search button {
    position: absolute;
    right: 0;
    top: 0;
    /* 行内块元素会有缝隙，用浮动消除 */
    float: left;
    width: 80px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #b1191a;
    font-size: 16px;
    color: #fff;
}

.hotwords {
    position: absolute;
    top: 66px;
    left: 346px;
}

.hotwords a {
    margin-right: 10px;
}

.shopcart {
    position: absolute;
    top: 25px;
    right: 60px;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
}

.shopcart::before {
    content: '\e93a';
    font-family: 'icomoon';
    margin-right: 5px;
    color: #b1191a;
}

.shopcart::after {
    content: '\e920';
    font-family: 'icomoon';
    margin-left: 10px;
    vertical-align: middle;
}

.count {
    position: absolute;
    top: -5px;
    left: 105px;
    height: 14px;
    /* 这里要设置文字行高，不然会继承父盒子的行高 */
    line-height: 14px;
    color: #fff;
    background-color: #e60012;
    padding: 0 5px;
    border-radius: 7px 7px 7px 0;
}

.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
    /* overflow: hidden; */
}

/* 下拉菜单 */
.nav .dropdown {
    float: left;
    width: 210px;
    height: 45px;
    background-color: #b1191a;
}

.nav navitems {
    float: left;
}

/* dt标题 dd具体描述，有相关性*/
.dropdown .dt {
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
}

.dropdown .dd {
    /* display: none; */
    width: 210px;
    /* 这里设置了465px的高度，已经溢出到父盒子下面了.也可以不设置，让文字自动撑开盒子 */
    height: 465px;
    background-color: #c81623;
    margin-top: 2px;
}

.dropdown .dd ul li {
    position: relative;
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 10px;
}

.dropdown .dd ul li:hover {
    background-color: #fff;
}

.dropdown .dd ul li::after {
    position: absolute;
    top: 1px;
    right: 10px;
    color: #fff;
    font-family: 'icomoon';
    content: '\e920';
    font-size: 14px;
}

.dropdown .dd ul li a {
    font-size: 14px;
    color: #fff;
}

/* 经过li的时候（这样区域大一点），里面的a颜色会变化 */
.dropdown .dd ul li:hover a {
    color: #c81623;
}

.dropdown .dd ul li span {
    font-size: 14px;
    color: #fff;
}

.dropdown .dd ul li:hover span {
    color: #c81623;
}

.navitems ul li {
    float: left;
}

.navitems ul li a {
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    /* 这里给a一个padding值，选中的范围可以大一点，方便用户点击链接 */
    padding: 0 25px;
}

/* 底部模块制作 */
.footer {
    box-sizing: border-box;
    height: 415px;
    background-color: #f5f5f5;
    padding-top: 30px;
}

.mod_service {
    box-sizing: border-box;
    height: 80px;
    border-bottom: 1px solid #ccc;
}

.mod_service ul li {
    box-sizing: border-box;
    float: left;
    width: 240px;
    height: 50px;
    padding-left: 35px;
}

/* .mod_service ul li h5 {
    float: left;
    width: 50px;
    height: 50px;
    background: url(../images/icons.png) no-repeat -252px -2px;
    margin-right: 8px;
} */

.mod_service_zheng,
.mod_service_kuai {
    float: left;
    width: 50px;
    height: 50px;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    margin-right: 8px;
}

.mod_service_zheng {
    background-position: -252px -2px;
}

.mod_service_kuai {
    background-position: -254px -54px;
}

.service_txt h4 {
    font-size: 14px;
}

.service_txt p {
    font-size: 12px;
}

.mod_help {
    box-sizing: border-box;
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 50px;
}

.mod_help dl {
    float: left;
    width: 200px;
}

.mod_help dl:last-child {
    width: 90px;
    text-align: center;
}

.mod_help dl dt {
    font-size: 16px;
    margin-bottom: 10px;
}

.mod_copyright {
    padding-top: 20px;
    text-align: center;
}

.links {
    margin-bottom: 15px;
}

.links a {
    margin: 0 3px;
}

.copyright {
    line-height: 20px;
}